/* checkbox stylesheet */

#filters label{
	position: relative;
}

#filters input[type="checkbox"]{
	opacity: 0;
}

#filters label span{
	cursor: pointer;
	position: absolute;
	width: 15px;
	height: 15px;
	top: 2px;
  	left: 0;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
}

#filters label span:after{
	opacity: 0;
	content: '';
	position: absolute;
	width: 6px;
	height: 3px;
	background: transparent;
	top: 4px;
	left: 3px;
	border: 2px solid #333;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

#filters label:hover span:after{
	opacity: 0.2;
}

#filters input:checked ~ span{
	background-color: var(--theme-color);
	border-color: var(--theme-color);

	transition: ease 0.1s all;
	-webkit-transition: ease 0.1s all;
	-moz-transition: ease 0.1s all;
	-o-transition: ease 0.1s all;
	-ms-transition: ease 0.1s all;
}

#filters input:checked ~ span:after{
	opacity: 1;
	border: 2px solid white;
	border-top: none;
	border-right: none;

	transition: ease 0.1s all;
	-webkit-transition: ease 0.1s all;
	-moz-transition: ease 0.1s all;
	-o-transition: ease 0.1s all;
	-ms-transition: ease 0.1s all;
}