.sidenav {
    height: 100%;
    width: 18%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--theme-dark-accent);
    overflow-x: hidden;
}

.sidenav a {
    margin-bottom: 8px; 
    margin-top: 5px;
}

.sidenav a:hover{
    background: var(--theme-color);
    cursor: pointer; 
}

#logo{
    width: 70%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.accent{
    padding: 15px;
    margin-bottom: 10px;
}

.active{
    background: var(--theme-color);
    color: white;
}

.sidenav .items{
    margin-bottom: 20px;
    color: white;
    padding: 10px 0px;
}

.sidenav .option, .sidenav .headline{
    padding: 5px 30px;
    font-family: 'Source Serif Pro', 'Sans-serif';
} 

.sidenav .headline{
    font-size: 20px;
}

.sidenav .option{
    font-size: 15px;
}

.sidenav hr{
    margin: 0px 30px;
}

.sidenav .admin{
    margin-top: 30px;
}

.option{
    margin: 0;
}

.option:hover{
    background: var(--theme-color);
    cursor: pointer; 
}