.dashboard{
    padding-left: 18%;
}

.nav-header{
    padding: 20px 35px;
}

.nav-header button{
    padding: 8px 25px;
}

table{
    width: 100%;
}

th{
    padding: 10px;
    font-family: 'Source Serif Pro', sans-serif;
}

tr{
    border-bottom: thin solid #333;
}

td{
    padding: 15px 10px;
    text-align: center;
    border-bottom: thin solid #ccc;
}

#bar{
    margin: 0px 20px;
    height: 10px;
    width: 90%;
    display: block;
    background-image: url('../../assets/images/search.png');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center left 5px;
    padding: 10px 30px;
}

#save-changes{
    font-size: 0.7em;
}

table button{
    padding: 5px 20px;
    font-size: 0.7em;
}


.table input:hover{
    cursor: pointer;
}
