#center{
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10em;
}

#error-number{
    color:var(--theme-color);
    font-size: 90px;
    font-weight: bold;
    font-family: 'Source Serif Pro', sans-serif;
}

#error-name{
    font-size:50px;
    font-family: 'Source Serif Pro', sans-serif;
}

#msg{
    font-size: 20px;
}

.msg{
    color:var(--theme-dark-neutral);
    margin-bottom: 10px;
}

.error-msg{
    padding: 10px 50px;
}

a:hover{
    text-decoration: underline;
    color: var(--theme-color);
    text-decoration-color: var(--theme-color);
}