/* signup stylesheet */

form#signup-form{
	margin: auto;
	width: 45%;
	box-sizing: border-box;
}

form#signup-form .heading{
	margin-bottom: 1.5em;
}

.heading .title{
	font-size: 2.3em;
}

.heading .reminder{
	font-style: italic;
}

form#signup-form label input.full-width{
	width: 91%;
}

form#signup-form label span{
	display: block;
	color: var(--theme-dark-neutral);
	margin-bottom: 0.5em;
}

form#signup-form label{
	margin: 1em 0;
	display: block;
}

span.help{
	font-style: italic;
	font-size: 0.8em;
	margin-right: 2em;
}

div.forname{
	box-sizing: border-box;
	width: 94.5%;
}