/* success page stylesheet */

#success-icon{
	width: 10em;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
}

#title-banner, #order-confirmation{
	text-align: center;
}

#title-banner{
	font-size: 2.6em;
	margin-bottom: 0.2em;
	color: var(--theme-color);
	padding: 0 3em;
}

#order-confirmation{
	font-weight: normal;
	padding: 0 12em;
}

#meantime{
	text-align: center;
	font-weight: normal;
	margin-top: 2.5em;
	margin-bottom: 1em;
}

#links button{
	margin: 0 1em;
	margin-bottom: 2.5em;
}