.nav-header{
    padding: 20px 50px;
    padding-top: 40px;
}

.dashboard .nav-header span{
    font-family: 'Source Serif Pro', 'Sans-serif';
    margin: 0px 10px;
}

.info{
    padding: 10px 50px;
}

.dashboard p{
    color: var(--theme-color);
}

.dashboard .header{
    font-family: 'Source Serif Pro', 'Sans-serif';
    color: var(--theme-color);
    font-size: 25px;
    font-weight: bold;
}

.dashboard input{
    padding: 5px 0px;
    padding-left:15px; 
    font-size: 13px;
    width: 200px;
}

.dashboard .dimension{
    width: 50px;
    margin-right: 9px;
}

.dashboard span{
    color: var(--theme-color);
}

.dashboard .details{
    width: 48%;
}

.type{
    margin: 15px 0px;
}

.part{
    margin-bottom: 40px;
}

.butt{
    
    padding: 8px 13px;
}

.save{
    margin-left: 3px;
}

.dashboard select{
    padding: 5px 0px;
    padding-left:15px; 
    font-size: 13px;
    width: 218px;
    border-radius: 3px;
}

.dashboard select, .dashboard input{
    margin-top: 2px;
}

.flex-between{
    align-items:stretch;
}

.description{
    height: 100px;
    width: 200px;
    text-indent: 0px;
    padding: 0px;
}

textarea{
    resize: none;
    width: 218px !important;
}