/* homepage stylesheet */

body{
	margin-top: 127px;
}

header{
	background: url('../../assets/images/hero-image.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 12em 15%;
	color: white;
}

header #welcome{
	color: white;
	text-align: center;
	font-size: 3.5em;
	text-shadow: 0px 0px 21px #000;
}

header #tagline{
	color: white;
	font-weight: normal;
	text-align: center;
	font-size: 1.5em;
	text-shadow: 0px 0px 21px #000;
}

header #cta{
	text-align: center;
	display: block;
	margin: auto;
}

img.ornaments{
	width: 5em;
	display: block;
	margin: auto;
}

section#services{
	align-items: flex-start !important;
	padding: 5em 15%;
}

section#services div.content-wrapper{
	width: 25%;
}

section#services div.content-wrapper p{
	text-align: center;
	line-height: 1.5em;
}

section#services img{
	width: 5em;
	display: block;
	margin: auto;
	margin-bottom: 2em;
}

section#brands h1{
	text-align: center;
	font-size: 2.3em;
}
