/* Page stylsheet for the single product page */

#highlight-image{
    width: 100%;
    height: 500px;
    background-color: #ededf3;
}

#single-product h2{
    margin: 30px 8px;
}

#single-product .product-feed .content-wrapper{
    background-color: white;
    border: 1px solid var(--theme-grey);
    border-radius: 3px;
    margin: 20px 8px;
}

#single-product.content-wrapper p{
    font-size: 0.9em;
}

#single-product .product-highlight{
    margin: 30px;
}

#single-product .other-details{
    list-style: none;
    padding-left: 0px;
    font-size: 0.9em;
}

#single-product button{
    font-size: 0.8em;
    padding: 0.7em;
}

#single-product .title{
    font-size: 25px;
}

#single-product .price{
    font-size: 20px;
}

#single-product .title-price-button{
    align-items: flex-start;
}

#single-product .sizes{
    font-size: 1em;
    margin-right: 10px;
}

#single-product .size-group h4{
    margin-bottom: 10px
}

#single-product .description, #single-product .color-circles, #single-product .other-details, #single-product .size-group{
    margin-bottom: 20px;
}

.image-product{
    align-items: flex-start;
}

#single-product h4{
    margin-bottom: 2px;
}

.colors{
    width: 20px;
    height: 20px;
    border-radius: 50%
}

#single-product .sizes:hover{
    color: var(--theme-purple);
    cursor: pointer;
}
.color-circles{
    width: 20%;
}

#color1{
    background-color: red;
}

#color2{
    background-color: green;
}

#color3{
    background-color: blue;
}

.price{
    color: var(--theme-purple);
}